@{
    ViewData["Title"] = "Roles";
}
@model List<TaskRequest.Application.Roles.Queries.GetAllRoles.RoleDto>
@*<div class="col s12 card-content-link">
        <div class="card z-depth-5 card-border-gray pb-3">
            <div class="row">
                <div class="card-content">
                    <div class="col s12">
                        <h5>
                            <i class="material-icons purple-text vertical-text-bottom">grade</i> Roles
                        </h5>
                    </div>
                    <div class="col s12">
                        <div class="collection">
                            @foreach (var item in Model)
                            {
                            <a href="#!" class="collection-item">@item.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="col s12 m12 l12">
    <div id="centered-table" class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s6"><h4 class="card-title" style="font-weight:500">Roles</h4></div>
                <div class="col s6 right-align">
                    <a href="#createRoleModal" class="waves-effect waves-light btn blue modal-trigger"><i class="material-icons left">add</i>New Role</a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                </div>
                <div class="col s12">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th data-field="id">Id</th>
                                <th data-field="name">Name</th>
                                <th data-field="price">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="createRoleModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Create New Role</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="roleName" type="text" autofocus class="validate">
                        <label for="roleName">Role Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <a href="#!" class="modal-close waves-effect waves-green btn amber">Save</a>
        </div>

    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script>
            $(document).ready(function () {
                $('.modal').modal();
            });
        </script>
    </environment>
}
